<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Email</th>
      <th scope="col">DOB</th>
      <th scope="col">Qualification</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allRegisteredUsers;let i = index">
      <th scope="row">{{i}}</th>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.mobileNumber}}</td>
      <td>{{user.email}}</td>
      <td>{{user.dob}}</td>
      <td>{{user.qualification}}</td>
      <td><a (click)="onUpdate(user)" style="cursor: pointer;">Edit</a></td>
      <td><a (click)="onDelete(user)" style="cursor: pointer;">Delete</a></td>
    </tr>
  </tbody>
</table>