<mat-card>
    <h2>User Registration Management</h2>
    <h5 *ngIf="registerMessage">{{registerMessage}}</h5>
    <mat-card-content>
        <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTab">
            <mat-tab label="Login">
                <ng-template matTabContent>
                    <app-login-form></app-login-form>
                </ng-template>
            </mat-tab>
            <mat-tab label="Register">
                <ng-template matTabContent>
                <app-registration-form (registerEvent)="changeSelectedTab()"></app-registration-form>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>