<div class="card col-sm-4">
    <h3 class="p-2">User Registration Management</h3>
    <div class="card-body">
        <ul class="nav justify-content-center p-2" [routerLinkActiveOptions]="{exact: true}">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>