<mat-card>
    <mat-card-content>
      <form [formGroup]="userRegisterForm">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User Name" formControlName="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" autocomplete="off" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Confirm Password" autocomplete="off" formControlName="cPassword" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="passwordMatchError">
            Confirm Password does not match with the Password field.
          </mat-error>
        <button mat-raised-button color="primary" (click)="onRegister()">Register</button>
      </form>
    </mat-card-content>
  </mat-card>