<div>
    <h3 class="p-2">User Registration Management</h3>
    <div>
        <ul class="nav" [routerLinkActiveOptions]="{exact: true}">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['userRegistration']" routerLinkActive="active">User Registration Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['userDetails']" routerLinkActive="active">User Details</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>